.home-header{
  height: 400px;
  background-color: black;
  margin-bottom: 30px;
}

.movie-content{
  justify-content: left;
  color: white;
}

/* home.css */

.popular-movies {
  color: white; /* Set text color to white */
  text-align: center; /* Align text to the left */
}
