.home-header{
  height: 400px;
  background-color: black;
  margin-bottom: 30px;
}

.content {
  display: flex;
}

.popular-movies {
  /* flex: 1; */
  margin-right: 20px; /* Adjust as needed */
  color: white;
}

.main-content {
  /* flex: 2; This will make the main content section take up the remaining space */
}

